.d-block {
    height:700px;
    width: 100%;
}

.Socials {
    margin-left: 1200px;
    top: -650px;
    position: relative;
}

.icon-colour {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 2.5rem;
}