.Cards-4{
    display: flex;
    /* margin-left: 80px; */
    margin-top: 60px;
    justify-content: space-around;
    /* position: relative; */
}

.Heading-3{
    margin-left: 730px;
    color: #767676;
    margin-top: 200px;
}

.text4{
    font-size: 3.5rem;
}

.para4{
    margin-left: 130px;
    font-size: 1.5rem;
}